<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="~/Asset/Login/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/Asset/Login/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/Asset/Login/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Asset/Login/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <!-- Toastr CSS-->
    <script src="~/Scripts/toastr.js"></script>
    <!-- Main CSS-->
    <link href="~/Asset/Login/css/main.css" rel="stylesheet" />

</head>

<body>


    @RenderBody()

    <!-- Jquery JS-->
    <script src="~/Asset/Login/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/Asset/Login/vendor/select2/select2.min.js"></script>
    <script src="~/Asset/Login/vendor/datepicker/moment.min.js"></script>
    <script src="~/Asset/Login/vendor/datepicker/daterangepicker.js"></script>

    <script src="~/Scripts/toastr.js"></script>
    <!-- Main JS-->
    <script src="~/Asset/Login/js/global.js"></script>

    <script type="text/javascript">
        $(function () {
            toastr.options = {
                "closeButton": true
            };

            $("#toa").click(function () {
                toastr.success("Order Success", "Order", { tapToDismiss: true });
            });
        });
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/toastr.js"></script>

    @RenderSection("scripts", required: false)


</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->

