@model List<ShopWatch.Models.ortherWeb>
@{
    ViewBag.Title = "Emb";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">New Products</span>
                <h2 class="mb-4">Our Products</h2>
            </div>
        </div>
    </div>
    <div>
    </div>
    <div class="container">
        <div class="row">
            @{
                var j = -1;
            }
            @foreach (var item in Model)
            {
                j++;
                <div class="col-md-6 col-lg-3 ftco-animate" id="clone+@j">
                    <div class="product">
                        <div id="cloneImg+@j">
                            <a href="#" class="img-prod">
                                <img class="img-fluid" style="max-width: 100%; height: auto;" src="@item.img" alt="Colorlib Template">                           
                                <div class="overlay"></div>
                            </a>
                        </div>

                        <div class="text py-3 pb-4 px-3 text-center">
                            <div style="height:60px;">
                                <h3><a id="cloneName+@j" href="#">@item.name</a></h3>
                            </div>
                            <div class="d-flex">
                                <div class="pricing" id="clonePrice+@j">
                                    <p class="price"><span class="price-sale"> @item.price</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">

                                    <a href="javascript:void(0)" class="toa buy-now d-flex justify-content-center align-items-center mx-1" style="cursor:pointer" id="toa" >
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a>

                                    <a href="javascript:void(0)" class="heart d-flex justify-content-center align-items-center " >
                                        <span><i class="ion-ios-heart"></i></span>
                                    </a>

                                    @*<div  class="btn btn-info" id="toaa">toia</div>*@
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>

