

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout-Login.cshtml";
}


<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title" style="text-align:center">Register Success</h2>              
                <div class="p-t-20" style="text-align:center;">                    
                    <a class="btn btn--radius btn--green" href="/Home/Login" style="text-decoration: none; color: #fff;">Proceed to login</a>
                </div>


            </div>
        </div>
    </div>
</div>

