
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Html.Raw(ViewBag.check)*@


<div>
    <h3 id="name">

    </h3>
    <img src="" id="img"/>
</div>
<div id="showcode"></div>


